ultralytics==8.0.175
torch==2.0.1
torchvision==0.15.2

ipython
tensorboard
Pillow<=9.5.0   # later versions produce AttributeError: 'FreeTypeFont' object has no attribute 'getsize'
pycocotools
seaborn